@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}
